.Rproj.user
.Rhistory
.RData
.Ruserdata
index_cache/
index_files/
maps_files/
maps_cache/
.rdb
.rdx
testing  
/diy-covid19-plots/rsconnect/
diy-covid19-plots/rsconnect/
.dcf
*.html
*.jpg

*index.html
